{{> menu id="about"}}

<section class="ui center aligned middle aligned segment" style="background-color: #B3DAF2">
    <h1 class="ui header" style="color: coral">
        <div class="ui center aligned message" style="background-color: coral">
            <div class="content">
                <div class="header">
                    A Brief History of Americas National Parks
                </div>

            </div>
        </div>
    </h1>
</section>

    <div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column">
            <img src=https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/yosemite.jpg?v=1659687702559">
        </div>
        <div class="ten wide column">
            <p>The United States has 63 national parks, which are
                Congressionally-designated protected areas operated by the National Park Service, an agency of the
                Department of the Interior.[1] National parks are designated for their natural beauty, unique geological
                features, diverse ecosystems, and recreational opportunities. While legislatively all units of the
                National Park System are considered equal with the same mission, national
                parks are generally larger and more of a destination, and hunting and extractive
                activities are prohibited</p>
            <p>Thirty states have national parks, as do the
                territories of American Samoa and the U.S. Virgin Islands. The state with the most national parks
                is California with nine, followed by Alaska with eight, Utah with five, and Colorado with four.
                The largest national park is Wrangell–St. Elias in Alaska: at over 8 million acres (32,375 km2),
                it is larger than each of the nine smallest states. The next three largest parks are also in Alaska.
                The smallest park is Gateway Arch National Park, Missouri, at 91 acres (0.37 km2).
                The total area protected by national parks is approximately 52.2 million acres (211,000 km2),
                for an average of 829 thousand acres (3,350 km2) but a median of only 208 thousand acres (840 km2).</p>
        </div>
        <div class="three wide column">
            <img src=https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/themightyfive.png?v=1659687698318>
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
            <img src=https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/glacier.jpg?v=1659687696740>
        </div>
        <div class="ten wide column">
            <p>A bill creating the first national park,
                Yellowstone, was signed into law by President Ulysses S. Grant in 1872, followed by
                Mackinac National Park in 1875 (decommissioned in 1895), and then Rock Creek Park
                (later merged into National Capital Parks), Sequoia and Yosemite in 1890. The Organic Act of 1916
                created the National Park Service "to conserve the scenery and the natural and historic objects and
                wildlife therein, and to provide for the enjoyment of the same in
                such manner and by such means as will leave them unimpaired for the enjoyment of future generations.</p>
       <p>The national parks set a visitation record in 2017,
           with more than 84 million visitors and set a further record in 2018 with a 0.1% increase.
           Great Smoky Mountains National Park in North Carolina and Tennessee has been the most-visited park
           since 1944,[10] and had over 14 million visitors in 2021.[11] In contrast,
           only about 7,000 people visited the remote Gates of the Arctic National Park and Preserve in
           Alaska in 2021.</p>
        </div>
        <div class="three wide column">
            <img src=https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/yellowstone.jpg?v=1659687701122>
        </div>
    </div>
</div>
<section class="ui center aligned middle aligned segment" style="background-color: #B3DAF2">
    <img src=https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/artistspalette.jpg?v=1659687689487>
<footer style="color: coral"> WeatherTopStation</footer>
</section>