{{> menu id="dashboard"}}
<div class="ui center aligned message" style="background-color: coral">
    <div class="content">
        <div class="header">
            <h2 class="ui header">
                WeatherTop Data Charts - Utah National Parks
            </h2>
        </div>
    </div>
</div>

{{> listWeather}}

{{> addStation}}

<section class="ui center aligned middle aligned segment" style="background-color: #B3DAF2">
  <footer style="color: coral"> WeatherTopStation</footer>
</section>
         

