{{> menu id="home"}}

<script>
  $("#{{id}}").addClass("active item");
</script>


<section class="ui center aligned middle aligned segment" style="background-color: #B3DAF2">
    <h1 class="ui header" style="color: coral">
        <div class="ui center aligned message" style="background-color: coral">
            <div class="content">
                <div class="header">
                    Welcome to WeatherTop Stations
                </div>
                <p>Your One Stop Shop for Meteorological Readings and Weather Tracking</p>
            </div>
        </div>
    </h1>
    <div class="ui grid">
        <div class="left aligned eight wide column"><h3><br><br>Using our state of the art Dashboards we log the weather
            data of
            Americas
            National Parks in an effort to track environmental shifts that will in instrumental
            in our efforts to preserve these vast yet delicate areas for conservation. This site is all about awareness,
            engagement and conservation</h3></div>
        <div class="left aligned eight wide column"><h3><br><br>Not only do we aim to protect these lands, we also
            strive to
            track
            subtle changes in variables such as temperature, wind direction and more to track climate change
            and build a case for presentation to government officials with an aim to push for further action
            toward the prevention of climate change.
        </h3></div>
        <img src="https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/utah.jpg?v=1659687699522"
             class="align-self: center" style="margin-left: auto; margin-right: auto; padding-top: 40px">
        <div class="sixteen wide column"><br> <br>
            <h3 style="border-style: dashed; border-color: coral">
                <br>We arent just a conservationist resource,
                we are also a place where we hope roadtrippers and travellers come to gain insights
                on the weather conditions they will be dealing with when they visit our state parks.
                We encourage the 3 most important principals of any nature lover;
                enjoy the space, be SAFE and leave no trace.<br><br></h3></div>

    </div>
    <br><br><br>
    <div class="ui grid" style="background-color: #B3DAF2">
        <div class="left aligned eight wide column">
            <h1>Zion</h1>
            <img src="https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/Zion.jpg?v=1659687704349" style="float:right; width: 250px; height: 200px;">

            Follow the paths where native people and pioneers walked. Gaze up at massive sandstone cliffs of cream,
            pink, and red that soar into a brilliant blue sky. Experience wilderness in a narrow slot canyon.
            Zion’s unique array of plants and animals
            will enchant you as you absorb the rich history of the past and enjoy
            the excitement of present day adventures.
        </div>
        <div class="left aligned eight wide column">
            <h1>Arches</h1><img src="https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/arches.jpg?v=1659687686870"
                                style="float:right; width: 250px; height: 200px;">
            Visit Arches to discover a landscape of contrasting colors,
            land forms, and textures unlike any other in the world.
            The park has over 2,000 natural stone arches and hundreds of soaring pinnacles,
            massive rock fins, and giant balanced rocks. This red-rock wonderland will amaze you with its formations,
            refresh you with its trails, and inspire you with its sunsets.
        </div>
        <div class="left aligned two column row">
            <div class="column">
                <h1>Capitol Reef</h1><img src="https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/capitolreef.jpg?v=1659687694388"
                                          style="float:right; width: 250px; height: 200px;"> located in south-central
                Utah in the heart of red rock country, Capitol Reef National Park
                is a hidden treasure filled with cliffs, canyons, domes,
                and bridges in the Waterpocket Fold, a geologic monocline
                (a wrinkle on the earth) extending almost 100 miles
            </div>
            <div class="column">
                <h1>Bryce Canyon</h1> <img src="https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/brycecanyon.jpg?v=1659687691153"
                                           style="float:right; width: 250px; height: 200px;">
                Bryce Canyon is the largest concentration found anywhere on Earth.
                Situated along a high plateau at the top of the Grand Staircase,
                the park's high elevations include numerous life communities,
                fantastic dark skies, and geological wonders that defy description.
            </div>
        </div>
        <div class="sixteen wide center aligned column">
            <h1>Canyonlands</h1>
            Canyonlands invites you to explore a wilderness of countless canyons and fantastically formed buttes<br>
            carved by the Colorado River and its tributaries. Rivers divide the park into four districts:<br>
            Island in the Sky,The Needles, The Maze, and the rivers themselves.<br>
            These areas share a primitive desert atmosphere.
        </div>
        <div class="sixteen wide center aligned column">
            <img src="https://cdn.glitch.global/27496b69-26ce-4cf3-850e-17d2a57d2499/canyonlands.jpg?v=1659687692899"
                 style="inline:block; width: 500px; height: 300px;">
        </div>
    </div>
    <footer style="color: coral"> WeatherTopStation</footer>

</section>

